.root-container {
    background-color: #cdcdcd;
}
.content-container {
    width: 1140px;
    margin: 0 auto;
}
.cover-container .left-side-content {
    float: left;
    width: 454px;
    height: 600px;
}
.cover-container .right-side-content {
    display: inline-block;
}