extends layout

block body
  link(rel="stylesheet", href="../stylesheets/homepage.css")
  h1 #{title}
  div.main-container
    div.resume-entrance#resume-link
      |Go To Xing Liu's Resume
  script.
    (() => {
      document.getElementById("resume-link").addEventListener("click", () => {
        location.replace("./resume");
      });
    })();